<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>Msg</servlet-name>
		<display-name>msg</display-name>
		<description>msg</description>
		<servlet-class>com.acgist.demo.Msg</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Msg</servlet-name>
		<url-pattern>/msg</url-pattern>
	</servlet-mapping>

</web-app>